<%- include('../partials/header.ejs') %>


<h2><%= playlist.title %></h2>

<form action="/playlists/<%= playlist._id %>?_method=PUT " method="POST">
  
  <div class="form-group">
    <label for="title">Playlist Name</label>
    <input type="text" id="title" name="title" value="<%= playlist.title %>">
  </div>

  <div class="form-group">
    <textarea name="description" id="description" cols="30" rows="10"><%= playlist.description %></textarea>
  </div>

  <div class="form-group">
    <input type="hidden" id="movie-choices" name="movieChoices" />

  <% movies.forEach((movie, i) => { %>
    <label for="movie-<%= i %>"><%= movie.title %></label>
    <input type="checkbox" class="movie-id-checkbox" id="movie-<%= i %>" name="<%= playlist.movieIDs[i] %>" checked />
  <% }) %>
  </div>

  <input type="submit" id="update-playlist" onclick="updatePlaylistMovies()" value="edit playlist" />




</form>









<%- include('../partials/footer.ejs') %>