<%- include('../partials/header.ejs') %>



<h1><%= playlist.title %></h1>
<% if (playlist.description) { %> 
  <p><%= playlist.description %></p>
<% } %> 

<div class="playlist-list">
  
  <ul>


  <% playlist.movieIDs.forEach(movieID => { %>
    
    <li><%= movieId.title %></li>

  <% }) %>

  </ul>

</div>







<%- include('../partials/footer.ejs') %>