<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Materialize Icons -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <!-- Main JS -->
    <script src="/js/app.js" defer></script>
    <script src="/js/playlistShow.js" defer></script>
    <title>FLIXR</title>
  </head>
<body>
  <nav class="navbar navbar-dark bg-black navbar-expand fixed-top">
    <a data-toggle="collapse" href="#" data-target="#fullmenu" role="button" class="d-lg-none d-inline mr-3">
        <i class="mdi mdi-view-sequential"></i>
    </a>
    <a class="navbar-brand text-light" href="../dashboard">FLIXR</a>
    <ul class="navbar-nav ml-auto">
    </ul>
  </nav>
  <div class="container-fluid px-0 flex-grow-1 show-sidebar-container">
    <div class="row no-gutters flex-nowrap navbar-expand-lg h-100">
        <div class="col-sm-1 col-auto text-white sidebar bg-black min-vh-100">
            <div class="row no-gutters flex-nowrap sticky-top sticky-top-side">
                <div class="col-sm-12 text-center">
                    <div class="sidenav">
                      <a class="nav-link py-2" href="../dashboard"><i class="ml-auto mdi mdi-home-outline icon-white"></i></a>
                      <a class="nav-link py-2" href="../dashboard#sectionMyPlaylists"><i class="ml-auto mdi mdi-youtube-subscription icon-white"></i></a>
                      <a class="nav-link py-2" href="/playlists/new"><i class="ml-auto mdi mdi-plus-circle icon-white"></i></a>
                      <a class="nav-link py-2" href="#"><i class="ml-auto mdi mdi-cog-outline icon-white"></i></a>
                      <a class="nav-link py-2" href="../users/logout"><i class="ml-auto mdi mdi-logout-variant icon-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
<div class= "col-lg-9 col-auto text-white min-vh-100">
  <div class="show-gallery-container">
    <ul class="playlist-gallery">
      <% for( let i = 0; i < movies.length; i++ ) { %>
      <li>
        <div class="flip">
          <div class="front-side" style="background-image: url('http://image.tmdb.org/t/p/w500<%= movies[i].poster_path %>');" alt="<%= movies[i].poster_path %>">
          </div>   
          <div class="back-side">
            <a href="#">
              <div class="playlist-content">
                <div class="movie-loader"></div>
                <div class="text">
                  <h3><%= movies[i].title %></h3>
                  <% if (movies[i].tagline) { %> 
                    <p><%= movies[i].tagline %></p>
                  <% } %> 
                    <p><%= movies[i].overview %></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
    <% } %> 
</div>
</div> <!-- Page's Container Ends -->
<!-- Playlist Description Column -->
<div class= "col-lg-2 col-auto text-white d-flex flex-column justify-content-center min-vh-100">
  <div class= "row d-flex flex-row justify-content-center">
    <div class= "col">
    <h1 class="show-playlist-h1"><%= playlist.title %></h1>
    <% if (playlist.description) { %> 
      <p><%= playlist.description %></p>
    <% } %> 
    <!-- Edit Buttons -->
    <button class="btn btn-outline-primary rounded-pill mt-2" id="delete-button" onclick="confirmDelete()">delete playlist</button>
    <form id="confirm-delete-button" class="hide-content" action="/playlists/<%= playlist._id %>/?_method=DELETE" method="POST">
      <button class="btn btn-outline-primary rounded-pill mt-2" type="submit">confirm delete</button>
    </form>
    <form action="/playlists/<%= playlist._id %>/edit" method="GET">
      <button class="btn btn-outline-primary rounded-pill mt-2" type="submit">edit playlist</button>
    </form>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>