<%- include('../partials/header.ejs') %>



<h1><%= playlist.title %></h1>
<% if (playlist.description) { %> 
  <p><%= playlist.description %></p>
<% } %> 

<ul>
  <% for( let i = 0; i < playlist.movieIDs.length; i++ ) { %>
    <li><%= playlist.movieIDs[i] %></li>
  <% } %>
</ul>


<form action="/playlists/<%= playlist._id %>/?_method=DELETE" method="POST">
  <button type="submit">delete playlist</button>
</form>





<%- include('../partials/footer.ejs') %>