<%- include('../partials/header.ejs') %>


<div class="container text-center my-3 movies-display">
  <h2 class="font-weight-light">click the movies you want to add to your playlist</h2>
  <div class="row mx-auto my-auto">
      <div id="movieCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">

     
<!-- https://www.codeply.com/go/EIOtI7nkP8/bootstrap-carousel-with-multiple-cards -->
<!-- DEMO 3 Item-->


<% let startPosters = 1;  %>
<% let firstPoster = 0; %> 
<% while (!moviesList[firstPoster].poster_path) { %> 
  startPosters++;
  firstPoster++
<% } %> 
<div class="carousel-item active">
  <div class="col-md-4">
      <div class="card card-body">
          <div class="hover hover-3 text-white rounded">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500<%= moviesList[firstPoster].poster_path %>" alt="<%= moviesList[firstPoster].id %>" />
            <div class="hover-overlay"></div>
            <div class="hover-3-content px-5 py-4">
              <p class="hover-3-description small text-uppercase mb-0"><%= moviesList[firstPoster].overview %></p>
            </div>
          </div>
      </div>
  </div>
</div>

<% for (let i = startPosters; i < 21; i += 2) { %>
  <% if (moviesList[i].poster_path) { %> 
    <div class="carousel-item">
        <div class="col-md-4">
            <div class="card card-body">


                <div class="hover hover-3 text-white rounded">
                  <img class="img-fluid" src="https://image.tmdb.org/t/p/w500<%= moviesList[i].poster_path %>" alt="<%= moviesList[i].id %>" />
                  <div class="hover-overlay"></div>
                  <div class="hover-3-content px-5 py-4">
                    <p class="hover-3-description small text-uppercase mb-0"><%= moviesList[i].overview %></p>
                  </div>
                </div>


             
            </div>
        </div>
    </div>
    <% } %> 
    <% if (moviesList[i+1] && moviesList[i + 1].poster_path) { %> 
    <div class="carousel-item">
        <div class="col-md-4">
            <div class="card card-body">

                <div class="hover hover-3 text-white rounded">
                  
              <img class="img-fluid" src="https://image.tmdb.org/t/p/w500<%= moviesList[i+1].poster_path %>" alt="<%= moviesList[i+1].id %>" />
                  <div class="hover-overlay"></div>
                  <div class="hover-3-content px-5 py-4">
                    <p class="hover-3-description small text-uppercase mb-0"><%= moviesList[i + 1].overview %></p>
                  </div>
                </div>



            </div>
        </div>
    </div>
  <% } else {%> 
    <% console.log('no poster path') %> 
  <% } %> 
<% } %>
 
          </div>
          <a class="carousel-control-prev w-auto" href="#movieCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next w-auto" href="#movieCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
</div>

<button class="btn btn-outline-info" id="review-playlist">
  <span class='review-button'>review playlist</span>
  <span class='review-movies'>review movies</span>
</button>

<a href="../playlists/new">retake quiz</a>

<div class="create-playlist-form">
  <div class="chosen-movies"></div>
  <form action="/playlists" method="POST" class="playlist-form">
  
    <div class="form-group">
      <input 
        type="text" 
        id="playlist-title" 
        name="title" 
        placeholder="playlist name"
        required
      />
    </div>
    <div class="form-group">
      <textarea 
        id="playlist-description" 
        name="description" 
        placeholder="Enter playlist description here. (You can change this later)"></textarea>
    </div>
    <input type="hidden" name="movieIdString" id="movieIdString" />
    <button class="create-playlist">create playlist</button>

  </form>
</div>







<%- include('../partials/footer.ejs') %>