<%- include('../partials/header.ejs') %>

<title>FLIXR</title>
</head>
<body>

<div class="register-form-container container">

    <form class="login-form" action="/users/register" method="POST">
      <div class="form-group login-group">
        <input
          type="name"
          id="name"
          name="name"
          class="form-control login-entry text-light mt-4"
          placeholder="name"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
      </div>
      <div class="form-group login-group">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control login-entry text-light mt-4"
          placeholder="email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="form-group login-group">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control login-entry text-light mt-4"
          placeholder="new password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>
      <div class="form-group login-group">
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control login-entry text-light mt-4"
          placeholder="confirm password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4 login-btn">
        CREATE ACCOUNT
      </button>
      <p class="lead mt-4 text-light register">Already have an account? <a href="/users/login">Sign in</a></p>
    </form>
  
    <img class="astronaut" src="/images/1979-removebg-preview.png" alt="astronaut logo">

</div>


  <%- include('../partials/footer.ejs') %>