<%- include('../partials/header') %> 

    <!-- Main JS -->
    <!-- <script src="/js/app.js" defer></script>
    <script src="/js/playlistShow.js" defer></script>
    <script src="/js/editHelper.js" defer></script> -->

<%- include('../partials/navbar')  %> 





<section class="row min-vh-100 pt-5" id="sectionMyPlaylists">
  <div class="col pt-4 d-flex flex-column">
      <div class="rounded flex-fill p-4">
          <div class="card text-light shadow-sm h-100">
              <div class="card-body">
                  <!-- tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a href="#tab1" class="nav-link bg-transparent text-white text-uppercase active" data-toggle="tab" data-target="#tab1" role="tab">User Details</a></li>
                      <li class="nav-item"><a href="#tab2" class="nav-link bg-transparent text-white text-uppercase" data-toggle="tab" data-target="#tab2" role="tab">Notifications</a></li>
                      <li class="nav-item"><a href="#tab3" class="nav-link bg-transparent text-white text-uppercase" data-toggle="tab" data-target="#tab3" role="tab">Privacy</a></li>
                  </ul>
                  <div class="tab-content py-4">
                      <div class="tab-pane active" id="tab1" role="tabpanel">
                        <div class="card bg-transparent shadow-sm mb-3">
                          <div class="card-body">
                            <div class="register-form-container container">

                              <div class="photo-div container">
                                <div class="row">
                                  
                <div class="form-group login-group">
        
                  <img class="profile-photo astronaut" src="/images/1979-removebg-preview.png" alt="profile photo">
        
                  <div class="changeImage hide-content">
                    <form action="/users/<%= user._id %>/?_method=PUT" method="POST">
                        <input class="btn btn-outline-primary btn-block mt-4" type="file" name="fileToUpload" id="fileToUpload" onchange="setImageSrc(event); toggleImageForm()" />
                        <input class="btn btn-outline-primary btn-block mt-4" type="submit" value="Upload Image">
                    </form>
                        <button class="btn btn-outline-primary btn-block mt-4" onclick="toggleImageForm()">Cancel</button>
                  </div>
        
                  <button onclick="toggleImageForm()" class="btn btn-outline-primary btn-block mt-4 imgBtn">
                    Change Image
                  </button>
        
                </div>
                                </div>
                                <div class="row">
                                  <span class="text-light small">Joined: <%= moment(user.date).format("MMM Do, YYYY") %></span>
                                </div>
                              </div>
        

                              <!-- edit user!!!! -->
                              <form action="/users/<%= user._id %>/?_method=PUT" method="POST">
                                <input type="hidden" name="image" value="">
                                <div class="form-group login-group">
                                  <input
                                    type="name"
                                    id="name"
                                    name="name"
                                    class="form-control login-entry text-light mt-4"
                                    placeholder="username"
                                    value="<%= user.name %> "
                                  />
                                </div>
                                <div class="form-group login-group">
                                  <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="form-control login-entry text-light mt-4"
                                    placeholder="email"
                                    value="<%= user.email %>"
                                  />
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block mt-4 login-btn">
                                  Edit Details
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- /tab-content -->
                <div class="tab-content py-4">
                    <div class="tab-pane" id="tab2" role="tabpanel">
                      <div class="row">
                    <!-- <div class="tab-pane active" id="tab2" role="tabpanel"> -->
                      <div class="card bg-transparent shadow-sm mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Coming Soon!</h5>
                        </div>
                      </div>
                <!-- /tab-content -->
                <div class="tab-content py-4">
                  <div class="tab-pane" id="tab3" role="tabpanel">
                    <div class="row">
                  <!-- <div class="tab-pane active" id="tab3" role="tabpanel"> -->
                    <div class="card bg-transparent shadow-sm mb-3">
                      <div class="card-body">
                        <div class="register-form-container container">
                          <form action="/users/<%= user._id %>/?_method=PUT" method="POST">
                            <div class="form-group login-group">
                              <input
                                type="current-password"
                                id="current-password"
                                name="current-password"
                                class="form-control login-entry text-light mt-4"
                                placeholder="current password"
                                value=""
                              />
                            </div>
                            <div class="form-group login-group">
                              <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control login-entry text-light mt-4"
                                placeholder="new password"
                                value="<%= typeof password != 'undefined' ? password : '' %>"
                              />
                            </div>
                            <div class="form-group login-group">
                              <input
                                type="password"
                                id="password2"
                                name="password2"
                                class="form-control login-entry text-light mt-4"
                                placeholder="confirm password"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                              />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 login-btn">
                              Change Password
                            </button>
                          </form>
                          <img class="astronaut" src="/images/1979-removebg-preview.png" alt="astronaut logo">
                      
                      </div>

                      </div>
                      </div>

                      </div>
                    </div>
                </div>
              <!-- /tab-content -->
              </div>
          </div>
                </div>
              </div> 
          </div>
      </div>
  </div> 
</section>
  <%- include('../partials/footer.ejs') %>