<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap Styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Main JS -->
  <script src="/js/app.js" defer></script>
  
  <title>FLIXR</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-black navbar-expand fixed-top">
        <a class="navbar-brand text-light" href="/dashboard">FLIXR</a>
        <ul class="navbar-nav ml-auto"></ul>
    </nav>
<div class="container-fluid px-0 flex-grow-1">
    <div class="row no-gutters flex-nowrap navbar-expand-lg">
        <div class="col-xl-1 col-auto text-white sidebar bg-black min-vh-100">
            <div class="row no-gutters flex-nowrap sticky-top sticky-top-side">
                <div class="col-sm-12 text-center">
                    <div class="sidenav">
                        <a class="nav-link py-2" href="#navTop"><i class="ml-auto mdi mdi-home-outline icon-white"></i></a>
                        <a class="nav-link py-2" href="/dashboard#sectionMyPlaylists"><i class="ml-auto mdi mdi-youtube-subscription icon-white"></i></a>
                        <a class="nav-link py-2" href="/playlists/new"><i class="ml-auto mdi mdi-plus-circle icon-white"></i></a>
                        <a class="nav-link py-2" href="./users/settings"><i class="ml-auto mdi mdi-cog-outline icon-white"></i></a>
                        <a class="nav-link py-2" href="../users/logout"><i class="ml-auto mdi mdi-logout-variant icon-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
<section class="row min-vh-100 pt-5" id="sectionMyPlaylists">
  <div class="col pt-4 d-flex flex-column">
      <div class="rounded flex-fill p-4">
          <div class="card text-light shadow-sm h-100">
              <div class="card-body">
                  <!-- tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a href="#tab1" class="nav-link bg-transparent text-white text-uppercase active" data-toggle="tab" data-target="#tab1" role="tab">User Details</a></li>
                      <li class="nav-item"><a href="#tab2" class="nav-link bg-transparent text-white text-uppercase active" data-toggle="tab" data-target="#tab2" role="tab">Notifications</a></li>
                      <li class="nav-item"><a href="#tab3" class="nav-link bg-transparent text-white text-uppercase active" data-toggle="tab" data-target="#tab3" role="tab">Privacy</a></li>
                  </ul>
                  <div class="tab-content py-4">
                      <div class="tab-pane active" id="tab1" role="tabpanel">
                        <div class="card bg-transparent shadow-sm mb-3">
                          <div class="card-body">
                            <div class="register-form-container container">
                              <div class="photo-div">
                                <img class="profile-photo astronaut" src="/images/1979-removebg-preview.png" alt="profile photo">
                              </div>
                              <form action="/users/register" method="POST">
                                <div class="form-group login-group">
                                  <input
                                    type="username"
                                    id="username"
                                    name="username"
                                    class="form-control login-entry text-light mt-4"
                                    placeholder="username"
                                    value="<%= typeof username != 'undefined' ? username : '' %>"
                                  />
                                </div>
                                <div class="form-group login-group">
                                  <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="form-control login-entry text-light mt-4"
                                    placeholder="email"
                                    value="<%= typeof email != 'undefined' ? email : '' %>"
                                  />
                                </div>
                                <div class="form-group login-group">
                                  <input
                                    type="role"
                                    id="role"
                                    name="role"
                                    class="form-control login-entry text-light mt-4"
                                    placeholder="role"
                                    value="<%= typeof role != 'undefined' ? role : '' %>"
                                  />
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block mt-4 login-btn">
                                  Edit Details
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- /tab-content -->
                <div class="tab-content py-4">
                    <div class="tab-pane" id="tab2" role="tabpanel">
                    <!-- <div class="tab-pane active" id="tab2" role="tabpanel"> -->
                      <div class="card bg-transparent shadow-sm mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Coming Soon!</h5>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- /tab-content -->
                <div class="tab-content py-4">
                  <div class="tab-pane" id="tab3" role="tabpanel">
                  <!-- <div class="tab-pane active" id="tab3" role="tabpanel"> -->
                    <div class="card bg-transparent shadow-sm mb-3">
                      <div class="card-body">
                        <div class="register-form-container container">
                          <form action="/users/register" method="POST">
                            <div class="form-group login-group">
                              <input
                                type="current-password"
                                id="current-password"
                                name="current-password"
                                class="form-control login-entry text-light mt-4"
                                placeholder="current password"
                                value=""
                              />
                            </div>
                            <div class="form-group login-group">
                              <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control login-entry text-light mt-4"
                                placeholder="new password"
                                value="<%= typeof password != 'undefined' ? password : '' %>"
                              />
                            </div>
                            <div class="form-group login-group">
                              <input
                                type="password"
                                id="password2"
                                name="password2"
                                class="form-control login-entry text-light mt-4"
                                placeholder="confirm password"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                              />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 login-btn">
                              Change Password
                            </button>
                          </form>
                          <img class="astronaut" src="/images/1979-removebg-preview.png" alt="astronaut logo">
                      
                      </div>

                      </div>
                      </div>


                    </div>
                </div>
              <!-- /tab-content -->
              </div>
          </div>
      </div>
  </div>
</section>









  <%- include('../partials/footer.ejs') %>